<!-- Panel -->
  <section class="panel">    
    <div class="gallery">
      <div class="group span-3">
        <a href="javascript:void(0)" class="image filtered span-3" data-position="bottom"><img src="assets/images/gallery/thumbs/01.jpg" alt="" /></a>
        <a href="javascript:void(0)" class="image filtered span-1-5" data-position="center"><img src="assets/images/gallery/thumbs/02.jpg" alt="" /></a>
        <a href="javascript:void(0)" class="image filtered span-1-5" data-position="bottom"><img src="assets/images/gallery/thumbs/03.jpg" alt="" /></a>
      </div>
      <a href="javascript:void(0)" class="image filtered span-2-5" data-position="top"><img src="assets/images/gallery/thumbs/04.jpg" alt="" /></a>
      <div class="group span-4-5">
        <a href="javascript:void(0)" class="image filtered span-3" data-position="top"><img src="assets/images/gallery/thumbs/05.jpg" alt="" /></a>
        <a href="javascript:void(0)" class="image filtered span-1-5" data-position="center"><img src="assets/images/gallery/thumbs/06.jpg" alt="" /></a>
        <a href="javascript:void(0)" class="image filtered span-1-5" data-position="bottom"><img src="assets/images/gallery/thumbs/07.jpg" alt="" /></a>
        <a href="javascript:void(0)" class="image filtered span-3" data-position="top"><img src="assets/images/gallery/thumbs/08.jpg" alt="" /></a>
      </div>
      <!--
      <a href="assets/images/gallery/fulls/09.jpg" class="image filtered span-2-5" data-position="right"><img src="assets/images/gallery/thumbs/09.jpg" alt="" /></a>
      -->
    </div>
  </section>
