<!-- Panel -->
<section class="panel color1">
  <div class="intro joined">
    <h2 class="major">Only 15% of Americans itemize</h2>
    <p>85% of us take the standard deduction</p>
  </div>
  <div class="inner">
    <ul class="grid-icons three connected">
      <li><span class="icon fa-user"><span class="label">Standard Deduction</span></span></li>
      <li><span class="icon fa-user"><span class="label">Standard Deduction</span></span></li>
      <li><span class="icon fa-user"><span class="label">Standard Deduction</span></span></li>
      <li><span class="icon fa-user"><span class="label">Standard Deduction</span></span></li>
      <li><span class="icon fa-user"><span class="label">Standard Deduction</span></span></li>
      <li><span class="icon fa-dollar"><span class="label">Itemize</span></span></li>
    </ul>
  </div>
</section>