<!-- Panel (Spotlight) -->
  <section class="panel spotlight large left">
    <div class="content span-5">
      <h2 class="major">What would a community foundation built for the 65% look like?</h2>
      <p>The traditional community foundation model revolves around assets under management. The more assets, the more fees generated. What if my community foundation was incentivized to help me give money away instead of locking it away?</p>
    </div>
    <div class="image filtered tinted" data-position="top right">
      <img src="assets/images/pic03-3.jpg" alt="" />
    </div>
  </section>
