<!-- Panel (Spotlight) -->
  <section class="panel spotlight medium right" id="first">
    <div class="content span-7">
      <h2 class="major">We 65% of Americans donate solely because we care</h2>
      <p>Donations from retail employees, service workers, baristas, mechanics, office workers, coders, and homemakers are all part of the $264.58 billion donated by individuals in the US last year.</p>
    </div>
    <div class="image filtered tinted" data-position="top left">
      <img src="assets/images/pic02-2.jpg" alt="" />
    </div>
  </section>
